{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">LogOut</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>
<h1>My to do list</h1>
<a href="{% url 'task-create' %}">add task</a>
<form method="get">
    <input type="text" name="serach-area" value={{search_input}}>
    <input type="submit" value="Search">
</form>
<table>
    <tr>
        <th>Items</th>
        <th></th>
    </tr>
   {% for i in tasks %}
    <tr>
        <th>{{i.title}}</th>
        <th><a href="{% url 'task' i.id %}">view</a></th>
        <th><a href="{% url 'task-update' i.id %}">Edit</a></th>
        <th><a href="{% url 'task-delete' i.id %}">Delete</a></th>

    </tr>
    {% empty %}
    <h1>No items</h1>
    {% endfor %}
    
   
  
</table>